.vscode/*

client/node_modules/
client/.expo/
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/

# macOS
client/.DS_Store
